<h1>Root Component!</h1>
<!-- <hr>
<app-prime-forms></app-prime-forms>
<hr> -->
<mp-button #btn1 [instanceId]="1" [label]="'btn 1'" [icon]="''" [disabled]="false"
    [styleClass]="'p-button-raised p-button-text'"></mp-button>
<hr>
<mp-button #btn2 [instanceId]="2" [label]="'btn 2'" [icon]="''" [disabled]="false"
    [styleClass]="'p-button-raised p-button-text p-button-success'"></mp-button>
<hr>
<mp-button #btn3 [instanceId]="3" [label]="'btn 3'" [icon]="''" [disabled]="false"
    [styleClass]="'p-button-raised p-button-text p-button-danger'"></mp-button>
<hr>
<mp-panel #panel1 [header]="'Panel'" toggleable="true">
</mp-panel>
<mp-tab-view></mp-tab-view>
<mp-mope-side-bar></mp-mope-side-bar>